#table{
  width:500px;
  height:500px;
  display:grid;
  place-items:center;
}

.red{
  background-color:red;
  padding:20px;
  border:1px solid black;
}
.green{
  background-color:Green;
  padding:20px;
  border:1px solid black;
}
.blue{
  background-color:Blue;
  padding:20px;
  border:1px solid black;
}
.formele{
  display:flex;
  flex-direction: column;
}
.headinputcol{
  display:flex;
  flex-direction: column;
}

#changetextfield{
  width:50%;
  margin:20px;
}